TZ=Europe/Copenhagen                                    # Enter your local timezone
MYSQL_ROOT_PASSWORD=MYSQL_ROOT_PASSWORD                 # Your root password to the database
PLANTEPASSER_DB_USER=PLANTEPASSER_DB_USER               # Your database username
PLANTEPASSER_DB_PASSWORD=PLANTEPASSER_DB_PASSWORD       # Your database user password
PLANTEPASSER_DB_NAME=PLANTEPASSER_DB_NAME               # The name of your database
SECRET_KEY=INSERT_KEY_HERE                              # Secret key for JWT, generate with openssl rand -hex 32
DEVICE_SECRET=DEVICE_SECRET                             # Password for the plantepasser hub when sending data packets - this needs to be exactly the same on the hub